<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <property name="connection.url">jdbc:h2:./data/invest-app</property>
        <property name="connection.driver_class">org.h2.Driver</property>

        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!--Create on startup-->
        <property name="hbm2ddl.auto">create</property>

        <!--Mapping entities-->

        <mapping class="com.ludwigstralewiren.account.Account"/>
        <mapping class="com.ludwigstralewiren.investment.Investment"/>
        <mapping class="com.ludwigstralewiren.user.User"/>
    </session-factory>
</hibernate-configuration>