<hibernate-configuration >
    <session-factory>
        <property name="connection.url">jdbc:h2:./data/invest-app</property>
        <property name="connection.driver_class">org.h2.Driver</property>

        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!--Update on startup-->
        <property name="hbm2ddl.auto">create</property>

        <!-- Show queries prepared by hibernate-->
        <property name="show_sql">true</property>
        <property name="format_sql"> true</property>

        <!--Mapping entities-->
<!--        <mapping class="com.ludwigstralewiren.account.Account"/>
        <mapping class="com.ludwigstralewiren.investment.Investment"/>-->
        <mapping class="com.ludwigstralewiren.user.User"/>
    </session-factory>
</hibernate-configuration>